.App {
  text-align: center;

  
}
.Timer {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
  

}

input {
  width: 60px;
  font-size: 3em;
}
button {
  height: 3em;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
svg {
  width: 50%;
  fill: rgba(255, 255, 255, 0);
 
}

.show-can {
  fill: blue;
  transition: fill 5s;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}